#Assignment 3

#####Script Programming 2분반 과제 3

학번 : 2011136073  
이름 : 우용근

* L = [1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.
    * 1)  
    L[1:3] = [100]  
    print L  
    * 2)  
    L[1:3] = [(100)]  
    print L  
    * 3)  
    L[1:3] = 100  
    print L  
    * 4)  
    L[1:3] = (100)  
    print L  
    * 5)  
    L[1:3] = (100, 101, 102)  
    print L  
    * 6)  
    L[1:3] = [100, 101, 102]  
    print L  
    * 7)  
    L[1:3] = [(100, 101, 102)]  
    print L  
    * 8)  
    L[1:3] = [[100, 101, 102]]  
    print L

In [2]:
L = [1, 2, 3, 4, 5]
L[1:3] = [100]
print L

[1, 100, 4, 5]

L의 2, 3이 위치한 곳에 100 이라는 리스트 원소로 대체를 하는 코드이다.

In [3]:
L = [1, 2, 3, 4, 5]
L[1:3] = [(100)]
print L

[1, 100, 4, 5]

L의 2, 3이 위치한 곳에 100이라는 단일 값의 리스트 원소로 대체를 하는 코드이다. 위의 코드와 기능이 같다.

In [4]:
L = [1, 2, 3, 4, 5]
L[1:3] = 100
print L

TypeError: can only assign an iterable

In [5]:
L = [1, 2, 3, 4, 5]
L[1:3] = (100)
print L

TypeError: can only assign an iterable

In [6]:
L = [1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print L

[1, 100, 101, 102, 4, 5]

In [7]:
L = [1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print L

[1, 100, 101, 102, 4, 5]

In [8]:
L = [1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print L

[1, (100, 101, 102), 4, 5]

In [9]:
L = [1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print L

[1, [100, 101, 102], 4, 5]

---

* 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
    * 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
    * 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [30]:
S = 'Hello World and Python'
s = S[16:] + ' ' + S[12:16] + S[6:12] + S[0:6]
print s
s_split = s.split()
print s_split

s_join = ''.join(s_split)
print s_join

Python and World Hello
['Python', 'and', 'World', 'Hello']
PythonandWorldHello

---

* 다음 코드를 보고 물음에 답하시오.  
    a = [1, 2, 3]
    
    b = a * 3
    
    c = [a] * 3  
    
    print b  
    
    print c  
    
    * 1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.  
            a[0] = 0  
    * 2) b와 c 객체의 차이는 무엇인가?

In [32]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print b
print c
a[0] = 0
print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

b는 a를 기반으로 새로 만들어진 새로운 객체이고, c는 기존의 a를 그때 그때 불러와서 출력한다.

---

* 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오  
(즉, 문자열 S에서 l를 만들어라)  
    s = '  first star   :   second star   :    third star  '   
    l = ['first star', 'second start', 'third star']  
    * 1) for ~ in 문을 이용한 코드를 작성하시오.
    * 2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [38]:
s = '  first star  :  second star  :  third star  '
l = s.split(':')
for i in range(len(l)):
    l[i] = l[i].strip()
print l

['first star', 'second  star', 'third start']

In [43]:
s = '  first star  :  second star  :  third star  '
l = [s.split(':')[i].strip() for i in range(len(s.split(':')))]
print l

['first star', 'second star', 'third star']

---

* 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.  
    * 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)  
    
        addall([1])  
        1  
        
        addall([1, 2, 3, 4, 5, 6, 7, 8, 9])  
        45  
          
    * 2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)  
    
        addallodd([1])  
        1  
        
        addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])  
        25  
        
    * [참고]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성 되어야 한다.)

In [13]:
def addall(list):
    a = 0
    for i in range(len(list)):
        a += list[i]
    return a

def addall_listcom(list):
    return sum([list[i] for i in range(len(list))])

print addall([1, 2, 3, 4, 5, 6, 7, 8, 9])
print addall_listcom([1, 2, 3, 4, 5, 6, 7, 8, 9])

45
45

In [16]:
def addallodd(list):
    a = 0
    for i in range(len(list)):
        if list[i]%2:
            a += list[i]
    return a

def addallodd_listcom(list):
    return sum([list[i] for i in range(len(list)) if list[i]%2])

print addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])
print addallodd_listcom([1, 2, 3, 4, 5, 6, 7, 8, 9])

25
25

---

* 다음 코드를 보고 물음에 답하시오.  
    L1 = [1, 2, 3]  
    L2 = [4, 5, 6]  
    d = {'low':L1, 'high':L2}  
    e = d  
    f = d.copy()  
    print d  
    print e  
    print f  
    print d['low'] = [10, 20, 30]  
    d['high'][1] = 500  
    print d  
    print e  
    print f  
    * 1) 위 코드의 수행 결과 d와 e는 항상 같은 결과를 출력한다. 그 이유는 무엇인가?  
    * 2) 위 코드의 수행결과 마지막 f의 내용은 다음과 같다. 이 때 'high'키의 값 내용 중 500이 출력된 이유와 'low'키의 값 내용 중 [1,2,3]이 출력된 이유를 설명해 보시오([hint]: shallow copy 관점에서 설명하시오.)  
            {'high': [4, 500, 6], 'low': [1, 2, 3]}

1) e는 d를 가리키고 있다. 결국 같은 객체를 가리키고 있으므로 d에서 값을 변경하면 그 변경된 객체를 e도 항상 가리키고 있으므로 e와 d의 출력 결과는 항상 같게 된다.  
2) d['low'] = [10, 20, 30] 은 d의 'low'가 L1을 가리키고 있던 것을 새로운 리스트 [10, 20, 30] 을 가리키게 만든 것이다. 그러나 이 전에 .copy()함수로 복사된 f의 'low'는 여전히 L1을 가리키고 있으므로 'low'의 값은 [1, 2, 3], L1이 출력되는 것이고, d['high'][1] = 500은 'high'가 가리키고 있는 L2객체의 두번째 원소 5를 500으로 바꿔준 것이다. f의 'high'는 여전히 L2를 가리키고 있으므로 [4, 500, 6] 이 출력된다.

---

* 사전 d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}가 주어졌을 때 다음 요구사항에 맞는 코드를 제시하시오.  
    * [참고]: d.keys(), d.values()를 통해 리스트를 얻어낸 후 리스트가 지니고 있는 sort(cmp=None, key=None, reverse=False)함수를 활용하시오.  
    * 1) 키의 알파벳 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.  
    * 2) 키의 알파벳 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
    * 3) 값의 오름차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.
    * 4) 값의 내림차순 순서대로 튜플 (키, 값)을 차례대로 출력하시오.

In [22]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
L = d.items()
L.sort()
print L

[('five', 5), ('four', 4), ('one', 1), ('three', 3), ('two', 2)]

In [23]:
d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
L = d.items()
L.sort(None, None, True)
print L

[('two', 2), ('three', 3), ('one', 1), ('four', 4), ('five', 5)]

In [25]:
def cmp_value(a1, a2):
    return cmp(a1[1], a2[1])

d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
L = d.items()
L.sort(cmp_value)
print L

[('one', 1), ('two', 2), ('three', 3), ('four', 4), ('five', 5)]

In [26]:
def cmp_value(a1, a2):
    return cmp(a1[1], a2[1])

d = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5}
L = d.items()
L.sort(cmp_value, None, True)
print L

[('five', 5), ('four', 4), ('three', 3), ('two', 2), ('one', 1)]

---

####프로젝트 오일러 문제 7

소수를 크기 순으로 나열하면 2, 3, 5, 7, 11, 13, ... 과 같이 됩니다.  
이 때 10,001번째 소수를 구하세요.

In [3]:
primes = [2, 3, 5]
index = 3
number = 5
while index<10001:
    
    number += 2
    for i in range(len(primes)):
        if number%primes[i]==0:
            break
    else:
        index += 1
        primes.append(number)
        
print primes[10000]

104743

---

####프로젝트 오일러 8

다음은 연속된 1000자리 숫자입니다.  
73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

여기서 붉게 표시된 71112의 경우 7, 1, 1, 1, 2 각 숫자를 곱하면 14가 됩니다.  
  
이런 식으로 맨 처음 (7 * 3 * 1 * 6 * 7 = 882) 부터 맨 끝 (6 * 3 * 4 * 5 * 0 = 0) 까지 5자리 숫자들의 곱을 구할 수 있습니다.  
  
이렇게 구할 수 있는 5자리 숫자의 곱 중에서 가장 큰 값은 얼마입니까?

In [4]:
input = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450
result = 0
while input > 0:
    tmp = (input % 10) * ((input // 10) % 10) * ((input // 100) % 10) * ((input // 1000) % 10) * ((input // 10000) % 10)
    if result < tmp :
        result = tmp
    input = input // 10
print result

40824

---

####프로젝트 오일러 문제 9

세 자연수 a, b, c 가 피타고라스 정리 ${a^2}+{b^2}={c^2}$를 만족하면 피타고라스 수라고 부릅니다. (여기서 $a<b<c$).  
예를 들면 ${3^2}+{4^2}= 9 + 16 = 25 = {5^2}$이므로 3, 4, 5는 피타고라스 수 입니다.  
$a + b + c = 1000$인 피타고라스 수 a, b, c는 한 가지 뿐입니다. 이때, $a * b * c$는 얼마입니까?

In [6]:
import math
result = 0
index = 2
i = 1
while True:
    
    a = index
    b = index + i
    c = math.sqrt(pow(a, 2) + pow(b, 2))
    if c % 1 == 0:
        if a+b+c == 1000:
            print a*b*c
            break
    if a+b+c > 1000:
        index = index + 1
        i = 1
        continue
    i = i + 1

31875000.0

[InCremental Project] 이전 Assignment2의 마지막 문제는 웹 URL로 지정된 웹페이지를 문자열로 가져와 모든 HTML 태그 및 CSS와 Javascript를 제외한 순수 텍스트를 얻어내고 그 안에 존재하는 단어를 추출하고 단어들의 총 개수를 출력하는 프로그램을 작성하는 것이었다. 이번에는 그 마지막 숙제를 그대로 확장하여 웹 URL로 지정된 웹페이지 내 순수 텍스트 안에 존재하는 각 단어들에 대해 다음 요구사항 대로 출력하는 프로그램을 작성하시오.  
* 요구사항 1. 순수 텍스트 안에 존재하는 단어들에 대해 string 모듈을 활용하여 모든 punctuation (구두문자)를 완벽히 제거하시오.  
    * 예:['world!',':','+hello+','~python$$$','=','world'] ---> ['world','hello','python','world']  
    * 모든 punctuation을 확인하는 방법은 아래와 같다.
         import string  
         print string.punctuation  
* 요구사항 2. 만약 punctuation (구두문자)를 제거한 이후 공백으로 판명되는 단어들은 해당 단어 리스트에서 제거하시오.
    * 예:['컴퓨터공학부!','---?','%지향~','...'] ---> ['컴퓨터공학부','지향']  
* 요구사항 3. 각 단어들의 출현빈도를 사전형태로 저장하여 출력하시오.
    * 예:['world','hello','python','world','컴퓨터공학부','지향'] ---> {'world':2, 'hello':1, 'python':1, '컴퓨터공학부':1, '지향':1}  
* 요구사항 4. 다음 3개의 사이트에 대한 결과를 출력하시오.
    * http://www.naver.com
    * http://www.daum.net
    * http://www.nytimes.com

In [61]:
import urllib2
import string
source = urllib2.urlopen("http://cse.kut.ac.kr/").read()

src_max = len(source)
i = 0
mode = True
result = []
tmp = ""
res_string = []
while i+1 < src_max:
    if source[i] == '<':
        mode = False           #태그가 시작되면 문자를 저장하지 않음
        result.append(tmp)     #지금까지 저장한 글자들을 result 리스트에 저장
        tmp=""                 #버퍼 비움
    elif source[i] == '>':
        mode = True            #태그가 끝났으므로 문자를 저장할 준비를 함
        tmp = ""               #주석에 대해서 예외처리
    elif mode:
        tmp += source[i]       #현재 문자를 저장해야할 시점이므로 버퍼에 저장
    i = i + 1       #다음 글자로 이동
for i in range(0, len(result)):      #구두문자 제거
    str = result[i]
    result[i] = str.translate(None, string.punctuation)
for i in range(0, len(result)):
    result[i] = result[i].split()    #공백을 split으로 없앰
for i in range(0, len(result)):
    for j in range(0, len(result[i])):
        res_string.append(unicode(result[i][j], 'utf-8'))
        #split으로 쪼갠 단어들은 이차원 리스트에 존재하므로 하나하나 다시 뽑아냄
        #이차원 원소는 현재 모두 유효한 값만을 지니고 있음
D = {}
for i in range(len(res_string)):
    if res_string[i] in D:
        D[res_string[i]] += 1
    else:
        D[res_string[i]] = 1
L = D.items()
for i in range(len(L)):
    print L[i].

KeyError: 0