#Assignment 3

#####Script Programming 2분반 과제 3

학번 : 2011136073  
이름 : 우용근

* L = [1, 2, 3, 4, 5]일 때 다음 각 문장을 수행한 후의 결과를 보고 납득할 만한 이유를 설명하시오.
    * 1)  
    L[1:3] = [100]  
    print L  
    * 2)  
    L[1:3] = [(100)]  
    print L  
    * 3)  
    L[1:3] = 100  
    print L  
    * 4)  
    L[1:3] = (100)  
    print L  
    * 5)  
    L[1:3] = (100, 101, 102)  
    print L  
    * 6)  
    L[1:3] = [100, 101, 102]  
    print L  
    * 7)  
    L[1:3] = [(100, 101, 102)]  
    print L  
    * 8)  
    L[1:3] = [[100, 101, 102]]  
    print L

In [2]:
L = [1, 2, 3, 4, 5]
L[1:3] = [100]
print L

[1, 100, 4, 5]

L의 2, 3이 위치한 곳에 100 이라는 리스트 원소로 대체를 하는 코드이다.

In [3]:
L = [1, 2, 3, 4, 5]
L[1:3] = [(100)]
print L

[1, 100, 4, 5]

L의 2, 3이 위치한 곳에 100이라는 단일 값의 리스트 원소로 대체를 하는 코드이다. 위의 코드와 기능이 같다.

In [4]:
L = [1, 2, 3, 4, 5]
L[1:3] = 100
print L

TypeError: can only assign an iterable

In [5]:
L = [1, 2, 3, 4, 5]
L[1:3] = (100)
print L

TypeError: can only assign an iterable

In [6]:
L = [1, 2, 3, 4, 5]
L[1:3] = (100, 101, 102)
print L

[1, 100, 101, 102, 4, 5]

In [7]:
L = [1, 2, 3, 4, 5]
L[1:3] = [100, 101, 102]
print L

[1, 100, 101, 102, 4, 5]

In [8]:
L = [1, 2, 3, 4, 5]
L[1:3] = [(100, 101, 102)]
print L

[1, (100, 101, 102), 4, 5]

In [9]:
L = [1, 2, 3, 4, 5]
L[1:3] = [[100, 101, 102]]
print L

[1, [100, 101, 102], 4, 5]

* 문자열 S = 'Hello World and Python'에 대해 다음 요구사항에 대한 Python 코드를 제시하시오.
    * 1) 단어의 순서가 역순으로 되어진 문자열 ('Python and World Hello')을 만들고
    * 2) 1)의 결과 문자열에 대해 메소드 split과 join을 이용하여 공백을 모두 없엔 문자열 'PythonandWorldHello'을 만드시오.

In [30]:
S = 'Hello World and Python'
s = S[16:] + ' ' + S[12:16] + S[6:12] + S[0:6]
print s
s_split = s.split()
print s_split

s_join = ''.join(s_split)
print s_join

Python and World Hello
['Python', 'and', 'World', 'Hello']
PythonandWorldHello

* 다음 코드를 보고 물음에 답하시오.  
    a = [1, 2, 3]
    
    b = a * 3
    
    c = [a] * 3  
    
    print b  
    
    print c  
    
    * 1) 위 코드를 수행한 이후 다음 코드를 수행한 후 b와 c의 내용을 확인하시오.  
            a[0] = 0  
    * 2) b와 c 객체의 차이는 무엇인가?

In [32]:
a = [1, 2, 3]
b = a * 3
c = [a] * 3
print b
print c
a[0] = 0
print b
print c

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[0, 2, 3], [0, 2, 3], [0, 2, 3]]

b는 a를 기반으로 새로 만들어진 새로운 객체이고, c는 기존의 a를 그때 그때 불러와서 출력한다.

* 다음 문자열을 ':'을 기준으로 분리하여 리스트로 만들고 각 문자열의 좌우 공백을 제거하시오  
(즉, 문자열 S에서 l를 만들어라)  
    s = '  first star   :   second star   :    third star  '   
    l = ['first star', 'second start', 'third star']  
    * 1) for ~ in 문을 이용한 코드를 작성하시오.
    * 2) 리스트 내포(list comprehension)를 이용한 코드를 작성하시오.

In [38]:
s = '  first star  :  second star  :  third star  '
l = s.split(':')
for i in range(len(l)):
    l[i] = l[i].strip()
print l

['first star', 'second  star', 'third start']

In [43]:
s = '  first star  :  second star  :  third star  '
l = [s.split(':')[i].strip() for i in range(len(s.split(':')))]
print l

['first star', 'second star', 'third star']

* 다음과 같이 0보다 큰 정수 리스트 변수 list를 인자로 받는 함수 addall(list)와 addallodd(list)를 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.  
    * 1) addall(list) 함수 (리스트 내의 모든 정수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)  
    
        addall([1])  
        1  
        
        addall([1, 2, 3, 4, 5, 6, 7, 8, 9])  
        45  
          
    * 2) addallodd(list) 함수 (리스트내의 모든 홀수를 더하는 함수로서 해답으로는 for ~ in 리터럴과 리스트 내포 방식으로 각각 제시하시오.)  
    
        addallodd([1])  
        1  
        
        addallodd([1, 2, 3, 4, 5, 6, 7, 8, 9])  
        25  
        
    * [참고]: 리스트 내포 방식으로 addall() 및 addallodd()함수를 만들 때엔 리스트 내포에 의해 생성된 리스트 결과에 대해 내장 함수를 사용하는 방식을 고려해보시오 (주의: 리스트 내포방식의 addall() 및 addallodd() 함수의 몸체는 단 1줄로 작성 되어야 한다.)

In [49]:
def addall(list):
    a = 0
    for i in range(len(list)):
        a += list[i]
    return a

def addall_listcom(list):
    return [list[i] for i in range(len(list))]

SyntaxError: invalid syntax (<ipython-input-49-af4bfcb5ea05>, line 8)